<div class="error-template">
                            <h1>Oops!</h1>
                            <h2>Error code: {{ top | urlencode }}</h2>
                            <div class="error-details">
                                <p>Explanation: {{ bottom | urlencode }}</p>
                            </div>
                            <div class="error-actions">
                                <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                                    Take Me Home </a>
                            </div>
                        </div>