                            <div class="form-group">
                                <label for="File">Files input</label>
                                <input type="file" class="form-control-file text-success" name="file2" id="File" aria-describedby="fileHelp">
                            </div>
                            <div class="form-group">
                                <label for="File">Files input</label>
                                <input type="file" class="form-control-file text-success" name="file3" id="File" aria-describedby="fileHelp">
                            </div>
                            <div class="form-group">
                                <label for="File">Files input</label>
                                <input type="file" class="form-control-file text-success" name="file4" id="File" aria-describedby="fileHelp">
                            </div>